.app-sidebar
	.nav.nav-sidebar
		li: a(href="chats.html") <span class="oi oi-chat" aria-hidden="true"></span> Чаты
		li: a(href="contacts.html") <span class="oi oi-people" aria-hidden="true"></span> Контакты
		li: a(href="index.html") <span class="oi oi-folder" aria-hidden="true"></span> Архив
	
	.nav.nav-sidebar
		li: a(href="info.html") <span class="oi oi-info" aria-hidden="true"></span> Основное
		li: a(href="users.html") <span class="oi oi-people" aria-hidden="true"></span> Пользователи
		li: a(href="quickanswers.html") <span class="oi oi-book" aria-hidden="true"></span>  Готовые ответы
		li: a(href="dialogs.html") <span class="oi oi-script" aria-hidden="true"></span>  Диалоги
	
	.nav.nav-sidebar
		li: a(href="settings.html") <span class="oi oi-wrench" aria-hidden="true"></span>  Настройки
		li
			a(href="analytics.html") <span class="oi oi-bar-chart" aria-hidden="true"></span>  Статистика
			ul.nav.nav-second-level.collapse
				li: a(href="#") Second level