title Onlchat
<meta name="viewport" content="width=device-width, initial-scale=1">
meta(charset="utf-8")

link(href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet")
link(href="assets/css/open-iconic-bootstrap.min.css" type="text/css" rel="stylesheet")
//link(href="assets/css/bootstrap-theme.css" rel="stylesheet")

link(href="assets/css/main.css" rel="stylesheet" type="text/css")

script(src="assets/js/jquery-2.1.4.min.js" type="text/javascript")
script(src="assets/js/bootstrap.js" type="text/javascript")
script(src="assets/js/main.js" type="text/javascript")
		
// Switchery
link(href="assets/libs/switchery/switchery.min.css" type="text/css" rel="stylesheet")
script(src="assets/libs/switchery/switchery.min.js" type="text/javascript")
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

// mCustomScrollbar
link(href="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.min.css" type="text/css" rel="stylesheet")
script(src="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.js" type="text/javascript")

// fa
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">