@btn-default-color:  #e4eaec;
@btn-default-color-hover: #ccd5db;
@btn-default-color-active: #76838f;

@btn-primary-color: #62a8ea;
@btn-primary-color-hover: #89bceb;
@btn-primary-color-active: #4e97d9;

@btn-success-color: #46be8a;
@btn-success-color-hover: #5cd29d;
@btn-success-color-active: #36ab7a;

@btn-info-color:	#57c7d4;
@btn-info-color-hover: #77d6e1;
@btn-info-color-active: #47b8c6;

@btn-warning-color: #f2a654;
@btn-warning-color-hover: #f4b066;
@btn-warning-color-active: #e79857;

@btn-danger-color:  #f96868;
@btn-danger-color-hover: #fa7a7a;
@btn-danger-color-active: #e9595b;



.btn {
	font-weight: 300;
	
	// Button Icon
	span {
		opacity: .6;
		padding-right: 3px;
	}
	
	transition: all ease 0.15s;
	
	&:active,
	&.active,
	&:focus,
	&:active:focus,
	&:active:hover,
	&:active:focus:hover {
		box-shadow: none !important;
	}
}

// Settings buttons colors
.btn-default {
	background-color: @btn-default-color;
	border-color: @btn-default-color;
	outline: 0;
	
	&:hover, &:focus {
		background-color: @btn-default-color-hover;
		border-color: @btn-default-color-hover;
	}
	
	&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
		background-color: @btn-default-color-active;
		border-color: @btn-default-color-active;
		color: #fff;
	}
	&.btn-outline {
		color: @btn-default-color-active;
		border-color: @btn-default-color-hover;
		&:hover, &:focus {
			// color: #fff !important;
			background-color: @btn-default-color-hover;
			border-color: @btn-default-color-hover;
		}
		&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
			background-color: @btn-default-color-active;
			border-color: @btn-default-color-active;
			color: #fff;
		}
	}
}
.btn .fa {
	transform: scale(1.4);
    padding-right: 5px;
    padding-left: 1px;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
}
.btn-primary {
	background-color: @btn-primary-color;
	border-color: @btn-primary-color;
	outline: 0;
	
	&:hover, &:focus {
		background-color: @btn-primary-color-hover;
		border-color: @btn-primary-color-hover;
		color: #fff;
	}
	
	&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
		background-color: @btn-primary-color-active;
		border-color: @btn-primary-color-active;
	}
	&.btn-outline {
		color: @btn-primary-color-active;
		&:hover, &:focus {
			color: #fff !important;
			background-color: @btn-primary-color;
			border-color: @btn-primary-color;
		}
		&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
			background-color: @btn-primary-color-active;
			border-color: @btn-primary-color-active;
		}
	}
}
.btn-success {
	background-color: @btn-success-color;
	border-color: @btn-success-color;
	outline: 0;
	
	&:hover, &:focus {
		background-color: @btn-success-color-hover;
		border-color: @btn-success-color-hover;
	}
	
	&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
		background-color: @btn-success-color-active;
		border-color: @btn-success-color-active;
	}
	&.btn-outline {
		color: @btn-success-color-active;
		&:hover, &:focus {
			color: #fff !important;
			background-color: @btn-success-color;
			border-color: @btn-success-color;
		}
		&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
			background-color: @btn-success-color-active;
			border-color: @btn-success-color-active;
		}
	}
}
.btn-info {
	background-color: @btn-info-color;
	border-color: @btn-info-color;
	outline: 0;
	
	&:hover, &:focus {
		background-color: @btn-info-color-hover;
		border-color: @btn-info-color-hover;
	}
	
	&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
		background-color: @btn-info-color-active;
		border-color: @btn-info-color-active;
	}
	&.btn-outline {
		color: @btn-info-color-active;
		&:hover, &:focus {
			color: #fff !important;
			background-color: @btn-info-color;
			border-color: @btn-info-color;
		}
		&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
			background-color: @btn-info-color-active;
			border-color: @btn-info-color-active;
		}
	}
}
.btn-warning {
	background-color: @btn-warning-color;
	border-color: @btn-warning-color;
	outline: 0;
	
	&:hover, &:focus {
		background-color: @btn-warning-color-hover;
		border-color: @btn-warning-color-hover;
	}
	
	&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
		background-color: @btn-warning-color-active;
		border-color: @btn-warning-color-active;
	}
	&.btn-outline {
		color: @btn-warning-color-active;
		&:hover, &:focus {
			color: #fff !important;
			background-color: @btn-warning-color;
			border-color: @btn-warning-color;
		}
		&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
			background-color: @btn-warning-color-active;
			border-color: @btn-warning-color-active;
		}
	}
}
.btn-danger {
	background-color: @btn-danger-color;
	border-color: @btn-danger-color;
	outline: 0;
	
	&:hover,&:focus {
		background-color: @btn-danger-color-hover;
		border-color: @btn-danger-color-hover;
	}
	
	&:active, &.active,  &:active:focus, &:active:focus:hover, &:active:hover {
		background-color: @btn-danger-color-active;
		border-color: @btn-danger-color-active;
	}
	&.btn-outline {
		color: @btn-danger-color-active;
		&:hover, &:focus {
			color: #fff !important;
			background-color: @btn-danger-color;
			border-color: @btn-danger-color;
		}
		&:active, &.active, &:active:focus, &:active:focus:hover, &:active:hover {
			background-color: @btn-danger-color-active;
			border-color: @btn-danger-color-active;
		}
	}
}

.btn-outline {
	color: #555;
	background-color: transparent;
}

.input-group {
	.btn-outline {
		border-color: #e8e9eb;
	}
}

.btn-round {
	border-radius: 100px;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	padding: 0;
	margin: 0 3px;
	
	span {
		padding-right: 0;
		opacity: 1;
	}
}