@color-default: #3a4a52;
@color-primary: #18b37e;
@color-danger: #e65868;

body {
	font-family: 'Roboto';
	// ≈-webkit-font-smoothing: antialiased;
	background-color: #f1f4f5;
	font-size: 14px;
	font-weight: 300;
	
	color: #191c2e;
	//font-weight: 400;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// Typographic
h5 {
	font-size: 16px;
	font-weight: 300;
	opacity: .6;
	padding-bottom: 3px;
}

.page-header {
	border: none;
	padding-bottom: 0;
	margin: 0;
	
	h1 {
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 0;
	}
	
	.buttons {
		margin-top: 15px;
	}
}
.form-control {
	font-size: 13px;
	line-height: normal;
}

// No outlines
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

@sidebar-width: 200px;

.navbar-inverse .navbar-text {
	color: #fff;
}
.navbar h4 {
	// line-height: 20px;
}
.navbar {
	border: none;
	background: #fff;
   box-shadow: 0px 1px 4px rgba(0,0,0,0.1);

	&-brand {
		img { margin-top: -3px; }
	}
	
	&-header {
		width: 170px;
		margin-left: -15px !important;
		padding-left: 15px;
		background: #22263b;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-bottom: -6px;
	}
	&-right {
		margin-right: 0;
	}
	#navbar {
		padding: 3px 0;
	}
	
	&-text {
		color: #22263b;
	}
	a {
		color: #556471;
	}
	
	.nav li a:hover,
	.nav li a:focus {
		text-decoration: none;
		background-color: transparent;
	}
	
	.col-sm-9 {
		padding-left: 0;
	}
	
	// Tabs .active
	ul li.active {
		border-bottom: 2px solid #62a8ea;
		padding-bottom: 1px;
		margin-bottom: -3px;
	}
	ul li:hover {
		border-bottom: 2px solid lighten(@color-default, 60%);
	    padding-bottom: 1px;
	    margin-bottom: -3px;
	}
}


@import "buttons.less";

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.app-sidebar {
  display: none;
}
@media (min-width: 768px) {
  .app-sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #191c2e;
  }
}
.app-sidebar {
	width: 170px;
	float: left;
}

.app-content {
	margin-left: 170px;
	float: left;
	
	min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    
    width: ~"calc(100% - 170px)";
    margin-top: 55px;
}
.app-scroller {
	max-height: ~"calc(100vh - 55px)";
}
#navbar .row {
	width: ~"calc(100% - 140px)";
	float: left;
	margin-left: 0px;
	//margin-left: 0;
	//margin-right: 0;
}

.app-pane {
	height: ~"calc(100vh - 55px)";
	padding-right: 0px;
}
.app-leftlist-search {
	// background: #f2f4f6;
	
	input {
		margin-left: -15px;
		margin-right: -15px;
		
		width: ~"calc(100% + 30px)";
		height: 56px;
		margin-top: -3px;
		margin-bottom: -3px;
		border: none;
		border-radius: 0;
		background-color: transparent;
		border-right: 1px solid #e8e9eb;
		box-shadow: none;
		
		&:focus {
			outline: none !important;
			box-shadow: none;
			
			background: rgba(255,255,255,0.5);
		}
	}
}
.app-leftlist {
	background: #fff;
	border-right: 1px solid #e8ebed;
	height: ~"calc(100vh - 55px)";
	margin-left: -15px;
	margin-right: -15px;
	
	.letter {
		color: #22263b;
		opacity: .7;
		background: #f9f9fa;
		
		padding-left: 15px;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: 12px;
	}
	
	.contact-item {
		
	}
}

.app-sidebar-right {
	// background: #fff;
	height: ~"calc(100vh - 55px)";
	margin-left: -15px;
	margin-right: -15px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  
  & > li > a:hover,
  & > li > a:focus {
	    text-decoration: none;
	    background-color: transparent;
	}
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  font-size: 13px;
  
  span {
	  padding-right: 10px;
	  opacity: .35;
	  width: 20px;
  }
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background: rgba(255,255,255,0.04);
}

.nav-sidebar > li > a:hover {
	background: rgba(255,255,255,0.04);
}

.content {
	margin-top: 55px;
}
/* Panels */
.panel {
	margin-top: 12px;
	border: 1px solid #dee1e3;
	box-shadow: none;
	margin-bottom: 15px;
	// border-radius: 0;
	
	&-heading {
		height: 50px;
		.panel-title {
			line-height: 30px;
			font-weight: 400;
		}
	}
	
	.panel-heading,
	.panel-footer {
		background-color: #fafbfc;
		border-bottom: 1px solid #eaebee;
		// border: none;
		
		/*
		.btn-default, .pagination a {
			background-color: #dadfe4;
			border-color: #fafbfc;
			color: #082345;
			span {
				color: #082345;
				opacity: .4;
			}
			
			&:hover {
				background-color: #d0d7de;
			}
		}
		*/
		
		.form-control {
			// border: none;
		}
	}
	
	
	.panel-footer {
		.pagination {
			margin-top: 0;
			margin-bottom: -3px;
			padding-left: 10px;
		}
		.form-group {
			margin-bottom: 0;
		}
	}
	
	.table {
		tr {
			td:first-child, th:first-child { padding-left: 20px; }
			td:last-child, th:last-child { padding-right: 20px; }
		}
		
		tr:nth-child(1) {
			background-color: #fff !important;
			th {
				border-bottom: 1px solid #efefef;
				font-weight: 300;
				font-size: 13px;
				color: #888;
				padding-top: 15px;
			}
		}
		
		td {
			border: none;
		}
	}
	.table-striped > tbody > tr:nth-of-type(odd) {
	    background-color: #f7f8f9;
	}
}


/* Dropdown */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}



// Contacts List Media
.avatar-sm {
	width: 30px;
	i {
	    height: 8px;
	    width: 8px;
	}
}
.avatar {
	position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
    img {
	    width: 100%;
	    max-width: 100%;
	    height: auto;
	    border: 0 none;
	    border-radius: 1000px;
	}
	i {
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    width: 10px;
	    height: 10px;
	    border: 2px solid #fff;
	    border-radius: 100%;
	}
}
.avatar-away i {
    background-color: #f96868;
}

.list-group {
	.list-group-item {
	    padding: 8px 15px;
	    cursor: pointer;
	    
	    border: none;
	    background: none;
	    // border-bottom: 1px solid #f1f1f1;
	    
	    .small,small {
		    font-weight: 300;
		    opacity: .7;
	    }
	    
		
		&.active {
			background-color: #f0f1f3;
			color: inherit;
			z-index: auto;
		}
		&:hover {
			background-color: #f0f1f3;
		}
	}
}

.media {
    padding: 2px 0;
    border-bottom: 0;
    
    .avatar {
	    width: 50px;
    }
    
    .media-left {
	    padding-right: 10px;
    }
    .media-heading {
	    font-size: 15px;
	    font-weight: 400;
	    color: #191c2e;
	    opacity: .9;
	    padding-top: 8px;
	    margin-bottom: 2px;
	}
}

.table tr td {
	vertical-align: middle !important;
}
.td-actions { text-align: right; }

// Table views
.app-content table {
	tr, td {
		vertical-align: top !important;
		font-size: 13px;
		small {
			opacity: .8;
		}
		.switchery small { opacity: 1; }
	}
	.media {
		width: 250px;
		.avatar {
			width: 35px;
		}
		.media-left {
			padding-right: 8px;
		}
		.media-heading {
			padding-top: 2px;
			margin-bottom: 2px;
			font-size: 14px;
			line-height: 1;
		}
		small {
			font-size: 11px;
			opacity: .7;
			line-height: 1;
		}
	}
}

// Badges
.label {
	background: transparent;
	border: 1px solid #eee;
	text-transform: uppercase;
	color: #eee;
	letter-spacing: .5px;
	font-weight: 300;
	
	&.label-success {
		color: @color-primary;
		border-color: lighten(@color-primary, 30%);
	}
	
	&.label-danger {
		color: @color-danger;
		border-color: lighten(@color-danger, 30%);
	}
}

.client-extra {
	padding-top: 30px;
	padding-right: 15px;
	
	hr {
		margin-top: 10px;
		margin-bottom: 10px;
		border-color: #e6e9eb;
	}
	
	.client-name {
		font-size: 16px;
		margin-top: 12px;
		margin-bottom: 4px;
	}
	.small {
		opacity: .5;
		margin-bottom: 1px;
	}
	
	.avatar {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	fieldset {
		position: relative;
		
		label {
			font-weight: 300;
			opacity: .5;
			font-size: 12px;
			margin-bottom: 0;
		}
		.value {
			font-size: 14px;
			font-weight: 300;
		}
		.btn-edit {
			border: 1px solid #a7adb6;
			color: #191c2e;
			opacity: .3;
			
			border-radius: 100px;
			display: inline-block;
			
			width: 23px;
			height: 23px;
			
			text-align: center;
			line-height: 23px;
			
			font-size: 11px;
			
			cursor: pointer;
			
			position: absolute;
			right: 0;
			top: 10px;
			
			
			&:hover {
				opacity: .7;
			}
		}
		
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
}

// Modal
.modal-content {
	border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.2);
    box-shadow: 0 2px 12px rgba(0,0,0,.2);
    
    .modal-title {
	    opacity: .8;
	    font-weight: 500;
    }
    
    .modal-header {
	    border-bottom: none;
	    background-color: #f1f4f5;
	    border-radius: 4px;
	    
	    &-form {
		    margin-top: 25px;
	    }
    }
    
    .modal-body {
	    .form-horizontal {
		    padding: 15px 0 0px 0;
	    }
    }
    
    .modal-footer {
	    border-top: none;
	    background-color: #f1f4f5;
	    border-radius: 4px;
    }
}

// Forms
.upload-avatar {
	width: 150px;
	height: 150px;
	
	font-size: 13px;
	opacity: .6;
	
	background-color: #d5d6da;
	border: none;
	border-radius: 100%;
	
	float: right;
}
.form-group {
	label {
		font-size: 13px;
		// opacity: .4;
		font-weight: 300;
		color: #191c2e;
	}
	small.notice {
		display: block;
		line-height: 1.3;
		font-size: 11px;
		margin-top: 5px;
		opacity: .6;
	}
	.switchery-small {
		margin-top: 7px;
	}
	.form-control {
		box-shadow: none;
		border-color: #e8e9eb;
		border-radius: 3px;
		color: #000;
		
		&:focus {
			border-color: #62a8ea;
		}
	}
	
	.input-group {
		width: 100%;
	}
	.input-group-addon {
		background-color: transparent;
		border-color: #e8e9eb;
		border-right: none;
		
		&.social-icon {
			.fa				{transform: scale(1.32);}
			width: 40px;
			.fa-vk 				{ color: #45668e; }
			.fa-facebook 		{ color: #3b5998; }
			.fa-odnoklassniki 	{ color: #ed812b; }
			.fa-instagram 		{ color: #517fa4; }
			.fa-whatsapp 		{ color: #43d854; transform: scale(1.5); }
			.fa-skype 			{ color: #00aff0; transform: scale(1.4); }
			.fa-phone 			{ }
		}
	}
}

// Contacts
.contacts-statistics {
	.table {
		margin-bottom: 0;
	}
	.table tr td {
		padding: 5px 0 !important;
		&.title {
			opacity: .7;
		}
		&.val {
			text-align: right;
			font-weight: 400;
		}
	}
	
	.last-message {
		h5 {
			margin-bottom: 5px;
		}
		p {
			font-size: 14px;
		}
		small,.small {
			opacity: .5;
			margin-top: -4px;
		}
	}
}

.table-footer-info {
	opacity: .7;
	font-size: 13px;
	padding-top: 10px;
}


// Accounts
.accounts-panel {
	.add-account {
		background: none;
		
		margin-top: 15px;
		margin-right: 10px;
		
		width: 260px;
		height: 175px;
		
		border: 1px dashed #dfe2e4;
		border-radius: 4px;
		
		display: inline-block;
		
		padding: 15px;
		padding-top: 59px;
		text-align: center;
		span {
			font-size: 30px;
			opacity: .4;
			display: block;
			padding-bottom: 5px;
		}
		
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
		font-weight: 400;
		font-size: 18px;
	}
	.account {
		background-color: #fff;
		width: 260px;
		height: 175px;
		
		margin-top: 15px;
		margin-right: 10px;
		
		padding: 15px;
		border: 1px solid #dfe2e4;
		border-radius: 4px;
		
		display: inline-block;
		
		.messenger-type {
			font-size: 16px;
			font-weight: 500;
			line-height: 25px;
			vertical-align: middle;	
		
			span {
				font-size: 25px;
				padding-right: 0px;
				width: 30px;
			}
			
			&.mt-telegram { color: #185ebc; }
			&.mt-whatsapp { color: #0b8a52; }
		}
		
		.account-body {
			padding-left: 35px;
			
			.ab-status {
				padding-top: 7px;
				.label {
					font-size: 10px;
					padding: 2px 4px;
				}
			}
			.ab-id {
				font-weight: 400;
				font-size: 18px;
			}
			.ab-name {
				font-weight: 300;
				font-size: 14px;
				opacity: .8;
			}
			
			.ab-dates {
				padding-top: 10px;
				font-size: 11px;
				opacity: .6;
				p { margin-bottom: 0; }
				label {
					font-weight: 300;
					letter-spacing: .5px;
					text-transform: uppercase;
					font-size: 10px;
					margin-bottom: 0;
				}
			}
		}
		
		.ac-status {
			
		}
	}
}