body {
  font-family: 'Roboto';
  background-color: #f1f4f5;
  font-size: 14px;
  font-weight: 300;
  color: #191c2e;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
h5 {
  font-size: 16px;
  font-weight: 300;
  opacity: .6;
  padding-bottom: 3px;
}
.page-header {
  border: none;
  padding-bottom: 0;
  margin: 0;
}
.page-header h1 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
}
.page-header .buttons {
  margin-top: 15px;
}
.form-control {
  font-size: 13px;
  line-height: normal;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar {
  border: none;
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  margin-top: -3px;
}
.navbar-header {
  width: 170px;
  margin-left: -15px !important;
  padding-left: 15px;
  background: #22263b;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: -6px;
}
.navbar-right {
  margin-right: 0;
}
.navbar #navbar {
  padding: 3px 0;
}
.navbar-text {
  color: #22263b;
}
.navbar a {
  color: #556471;
}
.navbar .nav li a:hover,
.navbar .nav li a:focus {
  text-decoration: none;
  background-color: transparent;
}
.navbar .col-sm-9 {
  padding-left: 0;
}
.navbar ul li.active {
  border-bottom: 2px solid #62a8ea;
  padding-bottom: 1px;
  margin-bottom: -3px;
}
.navbar ul li:hover {
  border-bottom: 2px solid #dae1e4;
  padding-bottom: 1px;
  margin-bottom: -3px;
}
.btn {
  font-weight: 300;
  -webkit-transition: all ease 0.15s;
  transition: all ease 0.15s;
}
.btn span {
  opacity: .6;
  padding-right: 3px;
}
.btn:active,
.btn.active,
.btn:focus,
.btn:active:focus,
.btn:active:hover,
.btn:active:focus:hover {
  box-shadow: none !important;
}
.btn-default {
  background-color: #e4eaec;
  border-color: #e4eaec;
  outline: 0;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #ccd5db;
  border-color: #ccd5db;
}
.btn-default:active,
.btn-default.active,
.btn-default:active:focus,
.btn-default:active:focus:hover,
.btn-default:active:hover {
  background-color: #76838f;
  border-color: #76838f;
  color: #fff;
}
.btn-default.btn-outline {
  color: #76838f;
  border-color: #ccd5db;
}
.btn-default.btn-outline:hover,
.btn-default.btn-outline:focus {
  background-color: #ccd5db;
  border-color: #ccd5db;
}
.btn-default.btn-outline:active,
.btn-default.btn-outline.active,
.btn-default.btn-outline:active:focus,
.btn-default.btn-outline:active:focus:hover,
.btn-default.btn-outline:active:hover {
  background-color: #76838f;
  border-color: #76838f;
  color: #fff;
}
.btn .fa {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  padding-right: 5px;
  padding-left: 1px;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}
.btn-primary {
  background-color: #62a8ea;
  border-color: #62a8ea;
  outline: 0;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #89bceb;
  border-color: #89bceb;
  color: #fff;
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:focus:hover,
.btn-primary:active:hover {
  background-color: #4e97d9;
  border-color: #4e97d9;
}
.btn-primary.btn-outline {
  color: #4e97d9;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus {
  color: #fff !important;
  background-color: #62a8ea;
  border-color: #62a8ea;
}
.btn-primary.btn-outline:active,
.btn-primary.btn-outline.active,
.btn-primary.btn-outline:active:focus,
.btn-primary.btn-outline:active:focus:hover,
.btn-primary.btn-outline:active:hover {
  background-color: #4e97d9;
  border-color: #4e97d9;
}
.btn-success {
  background-color: #46be8a;
  border-color: #46be8a;
  outline: 0;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #5cd29d;
  border-color: #5cd29d;
}
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success:active:focus:hover,
.btn-success:active:hover {
  background-color: #36ab7a;
  border-color: #36ab7a;
}
.btn-success.btn-outline {
  color: #36ab7a;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus {
  color: #fff !important;
  background-color: #46be8a;
  border-color: #46be8a;
}
.btn-success.btn-outline:active,
.btn-success.btn-outline.active,
.btn-success.btn-outline:active:focus,
.btn-success.btn-outline:active:focus:hover,
.btn-success.btn-outline:active:hover {
  background-color: #36ab7a;
  border-color: #36ab7a;
}
.btn-info {
  background-color: #57c7d4;
  border-color: #57c7d4;
  outline: 0;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #77d6e1;
  border-color: #77d6e1;
}
.btn-info:active,
.btn-info.active,
.btn-info:active:focus,
.btn-info:active:focus:hover,
.btn-info:active:hover {
  background-color: #47b8c6;
  border-color: #47b8c6;
}
.btn-info.btn-outline {
  color: #47b8c6;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus {
  color: #fff !important;
  background-color: #57c7d4;
  border-color: #57c7d4;
}
.btn-info.btn-outline:active,
.btn-info.btn-outline.active,
.btn-info.btn-outline:active:focus,
.btn-info.btn-outline:active:focus:hover,
.btn-info.btn-outline:active:hover {
  background-color: #47b8c6;
  border-color: #47b8c6;
}
.btn-warning {
  background-color: #f2a654;
  border-color: #f2a654;
  outline: 0;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #f4b066;
  border-color: #f4b066;
}
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:focus,
.btn-warning:active:focus:hover,
.btn-warning:active:hover {
  background-color: #e79857;
  border-color: #e79857;
}
.btn-warning.btn-outline {
  color: #e79857;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus {
  color: #fff !important;
  background-color: #f2a654;
  border-color: #f2a654;
}
.btn-warning.btn-outline:active,
.btn-warning.btn-outline.active,
.btn-warning.btn-outline:active:focus,
.btn-warning.btn-outline:active:focus:hover,
.btn-warning.btn-outline:active:hover {
  background-color: #e79857;
  border-color: #e79857;
}
.btn-danger {
  background-color: #f96868;
  border-color: #f96868;
  outline: 0;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #fa7a7a;
  border-color: #fa7a7a;
}
.btn-danger:active,
.btn-danger.active,
.btn-danger:active:focus,
.btn-danger:active:focus:hover,
.btn-danger:active:hover {
  background-color: #e9595b;
  border-color: #e9595b;
}
.btn-danger.btn-outline {
  color: #e9595b;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus {
  color: #fff !important;
  background-color: #f96868;
  border-color: #f96868;
}
.btn-danger.btn-outline:active,
.btn-danger.btn-outline.active,
.btn-danger.btn-outline:active:focus,
.btn-danger.btn-outline:active:focus:hover,
.btn-danger.btn-outline:active:hover {
  background-color: #e9595b;
  border-color: #e9595b;
}
.btn-outline {
  color: #555;
  background-color: transparent;
}
.input-group .btn-outline {
  border-color: #e8e9eb;
}
.btn-round {
  border-radius: 100px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  padding: 0;
  margin: 0 3px;
}
.btn-round span {
  padding-right: 0;
  opacity: 1;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.app-sidebar {
  display: none;
}
@media (min-width: 768px) {
  .app-sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #191c2e;
  }
}
.app-sidebar {
  width: 170px;
  float: left;
}
.app-content {
  margin-left: 170px;
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: calc(100% - 170px);
  margin-top: 55px;
}
.app-scroller {
  max-height: calc(100vh - 55px);
}
#navbar .row {
  width: calc(100% - 140px);
  float: left;
  margin-left: 0px;
}
.app-pane {
  height: calc(100vh - 55px);
  padding-right: 0px;
}
.app-leftlist-search input {
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px);
  height: 56px;
  margin-top: -3px;
  margin-bottom: -3px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  border-right: 1px solid #e8e9eb;
  box-shadow: none;
}
.app-leftlist-search input:focus {
  outline: none !important;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.5);
}
.app-leftlist {
  background: #fff;
  border-right: 1px solid #e8ebed;
  height: calc(100vh - 55px);
  margin-left: -15px;
  margin-right: -15px;
}
.app-leftlist .letter {
  color: #22263b;
  opacity: .7;
  background: #f9f9fa;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
}
.app-sidebar-right {
  height: calc(100vh - 55px);
  margin-left: -15px;
  margin-right: -15px;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  font-size: 13px;
}
.nav-sidebar > li > a span {
  padding-right: 10px;
  opacity: .35;
  width: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background: rgba(255, 255, 255, 0.04);
}
.nav-sidebar > li > a:hover {
  background: rgba(255, 255, 255, 0.04);
}
.content {
  margin-top: 55px;
}
/* Panels */
.panel {
  margin-top: 12px;
  border: 1px solid #dee1e3;
  box-shadow: none;
  margin-bottom: 15px;
}
.panel-heading {
  height: 50px;
}
.panel-heading .panel-title {
  line-height: 30px;
  font-weight: 400;
}
.panel .panel-heading,
.panel .panel-footer {
  background-color: #fafbfc;
  border-bottom: 1px solid #eaebee;
  /*
		.btn-default, .pagination a {
			background-color: #dadfe4;
			border-color: #fafbfc;
			color: #082345;
			span {
				color: #082345;
				opacity: .4;
			}
			
			&:hover {
				background-color: #d0d7de;
			}
		}
		*/
}
.panel .panel-footer .pagination {
  margin-top: 0;
  margin-bottom: -3px;
  padding-left: 10px;
}
.panel .panel-footer .form-group {
  margin-bottom: 0;
}
.panel .table tr td:first-child,
.panel .table tr th:first-child {
  padding-left: 20px;
}
.panel .table tr td:last-child,
.panel .table tr th:last-child {
  padding-right: 20px;
}
.panel .table tr:nth-child(1) {
  background-color: #fff !important;
}
.panel .table tr:nth-child(1) th {
  border-bottom: 1px solid #efefef;
  font-weight: 300;
  font-size: 13px;
  color: #888;
  padding-top: 15px;
}
.panel .table td {
  border: none;
}
.panel .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f7f8f9;
}
/* Dropdown */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
.avatar-sm {
  width: 30px;
}
.avatar-sm i {
  height: 8px;
  width: 8px;
}
.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
}
.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px;
}
.avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
}
.avatar-away i {
  background-color: #f96868;
}
.list-group .list-group-item {
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  background: none;
}
.list-group .list-group-item .small,
.list-group .list-group-item small {
  font-weight: 300;
  opacity: .7;
}
.list-group .list-group-item.active {
  background-color: #f0f1f3;
  color: inherit;
  z-index: auto;
}
.list-group .list-group-item:hover {
  background-color: #f0f1f3;
}
.media {
  padding: 2px 0;
  border-bottom: 0;
}
.media .avatar {
  width: 50px;
}
.media .media-left {
  padding-right: 10px;
}
.media .media-heading {
  font-size: 15px;
  font-weight: 400;
  color: #191c2e;
  opacity: .9;
  padding-top: 8px;
  margin-bottom: 2px;
}
.table tr td {
  vertical-align: middle !important;
}
.td-actions {
  text-align: right;
}
.app-content table tr,
.app-content table td {
  vertical-align: top !important;
  font-size: 13px;
}
.app-content table tr small,
.app-content table td small {
  opacity: .8;
}
.app-content table tr .switchery small,
.app-content table td .switchery small {
  opacity: 1;
}
.app-content table .media {
  width: 250px;
}
.app-content table .media .avatar {
  width: 35px;
}
.app-content table .media .media-left {
  padding-right: 8px;
}
.app-content table .media .media-heading {
  padding-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 1;
}
.app-content table .media small {
  font-size: 11px;
  opacity: .7;
  line-height: 1;
}
.label {
  background: transparent;
  border: 1px solid #eee;
  text-transform: uppercase;
  color: #eee;
  letter-spacing: .5px;
  font-weight: 300;
}
.label.label-success {
  color: #18b37e;
  border-color: #77edc5;
}
.label.label-danger {
  color: #e65868;
  border-color: #fadde0;
}
.client-extra {
  padding-top: 30px;
  padding-right: 15px;
}
.client-extra hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #e6e9eb;
}
.client-extra .client-name {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 4px;
}
.client-extra .small {
  opacity: .5;
  margin-bottom: 1px;
}
.client-extra .avatar {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.client-extra fieldset {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
.client-extra fieldset label {
  font-weight: 300;
  opacity: .5;
  font-size: 12px;
  margin-bottom: 0;
}
.client-extra fieldset .value {
  font-size: 14px;
  font-weight: 300;
}
.client-extra fieldset .btn-edit {
  border: 1px solid #a7adb6;
  color: #191c2e;
  opacity: .3;
  border-radius: 100px;
  display: inline-block;
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  font-size: 11px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;
}
.client-extra fieldset .btn-edit:hover {
  opacity: .7;
}
.modal-content {
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}
.modal-content .modal-title {
  opacity: .8;
  font-weight: 500;
}
.modal-content .modal-header {
  border-bottom: none;
  background-color: #f1f4f5;
  border-radius: 4px;
}
.modal-content .modal-header-form {
  margin-top: 25px;
}
.modal-content .modal-body .form-horizontal {
  padding: 15px 0 0px 0;
}
.modal-content .modal-footer {
  border-top: none;
  background-color: #f1f4f5;
  border-radius: 4px;
}
.upload-avatar {
  width: 150px;
  height: 150px;
  font-size: 13px;
  opacity: .6;
  background-color: #d5d6da;
  border: none;
  border-radius: 100%;
  float: right;
}
.form-group label {
  font-size: 13px;
  font-weight: 300;
  color: #191c2e;
}
.form-group small.notice {
  display: block;
  line-height: 1.3;
  font-size: 11px;
  margin-top: 5px;
  opacity: .6;
}
.form-group .switchery-small {
  margin-top: 7px;
}
.form-group .form-control {
  box-shadow: none;
  border-color: #e8e9eb;
  border-radius: 3px;
  color: #000;
}
.form-group .form-control:focus {
  border-color: #62a8ea;
}
.form-group .input-group {
  width: 100%;
}
.form-group .input-group-addon {
  background-color: transparent;
  border-color: #e8e9eb;
  border-right: none;
}
.form-group .input-group-addon.social-icon {
  width: 40px;
}
.form-group .input-group-addon.social-icon .fa {
  -webkit-transform: scale(1.32);
      -ms-transform: scale(1.32);
          transform: scale(1.32);
}
.form-group .input-group-addon.social-icon .fa-vk {
  color: #45668e;
}
.form-group .input-group-addon.social-icon .fa-facebook {
  color: #3b5998;
}
.form-group .input-group-addon.social-icon .fa-odnoklassniki {
  color: #ed812b;
}
.form-group .input-group-addon.social-icon .fa-instagram {
  color: #517fa4;
}
.form-group .input-group-addon.social-icon .fa-whatsapp {
  color: #43d854;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.form-group .input-group-addon.social-icon .fa-skype {
  color: #00aff0;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}
.contacts-statistics .table {
  margin-bottom: 0;
}
.contacts-statistics .table tr td {
  padding: 5px 0 !important;
}
.contacts-statistics .table tr td.title {
  opacity: .7;
}
.contacts-statistics .table tr td.val {
  text-align: right;
  font-weight: 400;
}
.contacts-statistics .last-message h5 {
  margin-bottom: 5px;
}
.contacts-statistics .last-message p {
  font-size: 14px;
}
.contacts-statistics .last-message small,
.contacts-statistics .last-message .small {
  opacity: .5;
  margin-top: -4px;
}
.table-footer-info {
  opacity: .7;
  font-size: 13px;
  padding-top: 10px;
}
.accounts-panel .add-account {
  background: none;
  margin-top: 15px;
  margin-right: 10px;
  width: 260px;
  height: 175px;
  border: 1px dashed #dfe2e4;
  border-radius: 4px;
  display: inline-block;
  padding: 15px;
  padding-top: 59px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}
.accounts-panel .add-account span {
  font-size: 30px;
  opacity: .4;
  display: block;
  padding-bottom: 5px;
}
.accounts-panel .add-account:hover,
.accounts-panel .add-account:active,
.accounts-panel .add-account:focus {
  text-decoration: none;
}
.accounts-panel .account {
  background-color: #fff;
  width: 260px;
  height: 175px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 15px;
  border: 1px solid #dfe2e4;
  border-radius: 4px;
  display: inline-block;
}
.accounts-panel .account .messenger-type {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  vertical-align: middle;
}
.accounts-panel .account .messenger-type span {
  font-size: 25px;
  padding-right: 0px;
  width: 30px;
}
.accounts-panel .account .messenger-type.mt-telegram {
  color: #185ebc;
}
.accounts-panel .account .messenger-type.mt-whatsapp {
  color: #0b8a52;
}
.accounts-panel .account .account-body {
  padding-left: 35px;
}
.accounts-panel .account .account-body .ab-status {
  padding-top: 7px;
}
.accounts-panel .account .account-body .ab-status .label {
  font-size: 10px;
  padding: 2px 4px;
}
.accounts-panel .account .account-body .ab-id {
  font-weight: 400;
  font-size: 18px;
}
.accounts-panel .account .account-body .ab-name {
  font-weight: 300;
  font-size: 14px;
  opacity: .8;
}
.accounts-panel .account .account-body .ab-dates {
  padding-top: 10px;
  font-size: 11px;
  opacity: .6;
}
.accounts-panel .account .account-body .ab-dates p {
  margin-bottom: 0;
}
.accounts-panel .account .account-body .ab-dates label {
  font-weight: 300;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 0;
}
