doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					//form.navbar-form.navbar-left(role="search")
						.form-group
							input(type="text" placeholder="Find in contacts...").form-control
						button(type="submit").btn.btn-default Go
					
					.navbar-left
						h4.navbar-text Аккаунты
					
					.navbar-left
						.btn.navbar-btn.btn-sm.btn-success.btn-outline <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
					
					.navbar-right
						ul.nav.navbar-nav
							li.dropdown
								a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Mark Otto <span class="caret"></span>
								ul.dropdown-menu
									li: a(href="#") Профиль
									li: a(href="#") Настройки
									li.divider
									li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content
					.app-scroller.mCustomScrollbar(data-mcs-theme="minimal-dark")
						
						.accounts-panel
							.account
								.messenger-type.mt-telegram <span class="fa fa-whatsapp"></span> Telegram
								.account-body
									.ab-status <span class="label label-success">Активный</span>
									.ab-id 996 700 216677
									.ab-name Test_O
									.row.ab-dates
										.col-xs-6
											label Created
											p 12 Dec 2015
										.col-xs-6
											label Modified
											p 06 Jan 2016
							.account
								.messenger-type.mt-whatsapp <span class="fa fa-whatsapp"></span> WhatsApp
								.account-body
									.ab-status <span class="label label-success">Активный</span>
									.ab-id 996 700 216677
									.ab-name Test_O
									.row.ab-dates
										.col-xs-6
											label Created
											p 12 Dec 2015
										.col-xs-6
											label Modified
											p 06 Jan 2016
											
							.account
								.messenger-type.mt-telegram <span class="fa fa-whatsapp"></span> Telegram
								.account-body
									.ab-status <span class="label label-danger">Заблокированный</span>
									.ab-id 996 700 216677
									.ab-name Test_O
									.row.ab-dates
										.col-xs-6
											label Created
											p 12 Dec 2015
										.col-xs-6
											label Modified
											p 06 Jan 2016
							a(href="#").add-account <span class="fa fa-plus"></span> Добавить аккаунт...