doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					.row
						.col-sm-3.app-leftlist-search
							input(type="text" placeholder="Поиск в контактах...").form-control
							
						.col-sm-9
							.navbar-left
								h4.navbar-text Контакты
							
							.navbar-left
								.btn.navbar-btn.btn-success.btn-outline(data-toggle="modal" data-target="#modal-add-contact") <i class="fa fa-plus"></i> Добавить
								.btn.navbar-btn.btn-default.btn-outline(data-toggle="modal" data-target="#modal-import") <i class="fa fa-download"></i> Импорт
							
							.navbar-right
								ul.nav.navbar-nav
									li.dropdown
										a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle <span class="status status-online"></span> ONLChat <span class="caret"></span>
										ul.dropdown-menu
											li: a(href="#") Профиль
											li: a(href="#") Настройки
											li.divider
											li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content
					.row
						.col-sm-3
							.app-leftlist.list-group.mCustomScrollbar(data-mcs-theme="minimal-dark")
								.letter A
								a.list-group-item.active
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Поляков Дмитрий Валерьевич
											small 8 (933) 387-50-52
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/2.jpg" alt="")
										.media-body
											h4.media-heading Абрамова Эвелина 
											small 8 (913) 855-56-17
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/3.jpg" alt="")
										.media-body
											h4.media-heading Львов Аскольд
											small 8 (902) 441-42-66
								
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/4.jpg" alt="")
										.media-body
											h4.media-heading Комаров Степан Станиславович
											small 8 (954) 435-14-18
								
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/5.jpg" alt="")
										.media-body
											h4.media-heading Кузьмина Саломея Романовна 
											small 8 (921) 864-50-14
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/6.jpg" alt="")
										.media-body
											h4.media-heading Ушакова Тереза Егоровна 
											small 8 (914) 816-68-27
										
								.letter B
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/7.jpg" alt="")
										.media-body
											h4.media-heading Трифонов Парфен Богданович
											small 8 (923) 210-89-15
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/8.jpg" alt="")
										.media-body
											h4.media-heading Голубева Фатина Валентиновна 
											small 8 (952) 657-62-38
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/9.jpg" alt="")
										.media-body
											h4.media-heading Наумова Аглая Николаевна 
											small 8 (903) 430-46-41
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/22.jpg" alt="")
										.media-body
											h4.media-heading Тарская Харитина Федоровна
											small 8 (940) 753-29-82
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/32.jpg" alt="")
										.media-body
											h4.media-heading Охота Ганна Ярославовна
											small 8 (944) 465-26-73
								.letter C
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/52.jpg" alt="")
										.media-body
											h4.media-heading Лапин Галактион Валерьевич
											small 8 (915) 410-52-56
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/25.jpg" alt="")
										.media-body
											h4.media-heading Кузьмина Октябрина Станиславовна 
											small 8 (950) 454-67-32
								
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/23.jpg" alt="")
										.media-body
											h4.media-heading Лютов Денис Олегович
											small 8 (906) 338-19-60
											
						.col-sm-7
							.app-pane.mCustomScrollbar(data-mcs-theme="minimal-dark")
								.page-header
									h1.pull-left Alica Mcgavock
									.pull-right.buttons
										.btn.btn-default.btn-outline.btn-sm <i class="fa fa-comment-o"></i> Диалог
										.btn.btn-danger.btn-outline.btn-sm <i class="fa fa-trash-o"></i> Удалить контакт
									.clearfix
										
								.panel.contacts-statistics
									.panel-heading
										.panel-title Статистика
									.panel-body
										.row
											.col-sm-6
												h5 Сообщения
												.row
													.col-xs-8
														table.table
															tr
																td.title Всего
																td.val 26
															tr
																td.title Входящие
																td.val 12
															tr
																td.title Исходящие
																td.val 14
											.col-sm-6
												h5 Диалоги
												.row
													.col-xs-8
														table.table
															tr
																td.title Всего
																td.val 1
															tr
																td.title Открыт
																td.val 1
															tr
																td.title Закрыто
																td.val 0
										hr
										
										.last-message
											h5 Последнее сообщение
											p As with contextual colors, ensure that any meaning conveyed through color is also conveyed in a format that is not purely presentational.
											.small 2016-01-22 16:28:33
												
									
									
								.panel
									.panel-heading
										.panel-title Каналы коммуникации
									.panel-body
										.row
											.col-sm-6
												h5 Мессенджеры
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-phone
														input.form-control(type="text" value="+996 555 55 99 32")
											
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-whatsapp
														input.form-control(type="text" value="+996 555 55 99 32")
														
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-skype
														input.form-control(type="text" value="+996 555 55 99 32")
														
														
											.col-sm-6
												h5 Социальные сети
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-facebook
														input.form-control(type="text" placeholder="Добавить...")
														
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-vk
														input.form-control(type="text" placeholder="Добавить...")
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-odnoklassniki
														input.form-control(type="text" placeholder="Добавить...")
														
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-instagram
														input.form-control(type="text" value="@instagram")
									
						.col-sm-2
							.app-sidebar-right.mCustomScrollbar(data-mcs-theme="minimal-dark")
								.client-extra
									.avatar
										img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
									
									fieldset
										h2.client-name Alica Mcgavoock
										.small Age 33, Female
										.small +1 234 567 1234
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
									
									hr
									
									fieldset
										label Компания
										.value Alica
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
									
									fieldset
										label Дата рождения
										.value 18 декабря 1978
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
									
									hr
									
									fieldset
										label Адрес
										.value Москва, Россия
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
										
									fieldset
										label Тариф
										.value Стандарт
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
										
									fieldset
										label Тип клиента
										.value Корпоратив
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
							
																		
									hr
									
									fieldset
										label Комментарии
										.value Добавить...
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
										
		// Add contact Modal
		.modal.fade#modal-add-contact
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title.pull-left Добавить новый контакт
						button(type="button" data-dismiss="modal").close: span &times;
						.clearfix
						
						.row.modal-header-form
							.col-sm-4
								button.upload-avatar Загрузить фото...
							.col-sm-7
								.form-group
									label.control-label Имя
									input(type="email" placeholder="Введите имя...").form-control
								.form-group
									label.control-label Телефон
									input(type="email" placeholder="Введите телефон...").form-control
									small WhatsApp Phone number (including country code e.g. 154722123456)

					.modal-body
						.form-horizontal
							.form-group
								label.col-sm-4.control-label Дата рождения
								.col-sm-7
									input(type="email" placeholder="Открыть календарь...").form-control
							.form-group
								label.col-sm-4.control-label Компания
								.col-sm-7
									input(type="email" placeholder="Компания...").form-control
							.form-group
								label.col-sm-4.control-label Адрес
								.col-sm-7
									input(type="email" placeholder="Адрес...").form-control
							.form-group
								label.col-sm-4.control-label Тарифный план
								.col-sm-7
									input(type="email" placeholder="Тарифный план...").form-control
							.form-group
								label.col-sm-4.control-label Тип абонентов
								.col-sm-7
									input(type="email" placeholder="Тип абонентов...").form-control
							.form-group
								label.col-sm-4.control-label Комментарии
								.col-sm-7
									textarea( placeholder="Комментарии...").form-control
						
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Закрыть
						button.btn.btn-primary(type="button" data-dismiss="modal") Добавить контакт
						
		// Import Contacts Modal
		.modal.fade#modal-import
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title.pull-left Импорт
						button(type="button" data-dismiss="modal").close: span &times;
						
					.modal-body
						.form-horizontal
							.form-group
								label.col-sm-4.control-label Файл
								.col-sm-8
									button.btn.btn-default(type="button") Выбрать файл...
									p
										small Формат файла .csv в кодировке UTF-8 без BOM
						
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Закрыть
						button.btn.btn-primary(type="button" data-dismiss="modal") Импортировать