doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					//form.navbar-form.navbar-left(role="search")
						.form-group
							input(type="text" placeholder="Find in contacts...").form-control
						button(type="submit").btn.btn-default Go
					
					.navbar-left
						h4.navbar-text Архив
					
					.navbar-left
						
					
					.navbar-right
						ul.nav.navbar-nav
							li.dropdown
								a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Mark Otto <span class="caret"></span>
								ul.dropdown-menu
									li: a(href="#") Профиль
									li: a(href="#") Настройки
									li.divider
									li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content.app-scroller.mCustomScrollbar(data-mcs-theme="minimal-dark")
					.panel.panel-default
						.panel-heading
							.form-inline
								.btn-group.btn-group-sm
									button(type="button" class="btn btn-default btn-outline active") Все
									button(type="button" class="btn btn-default btn-outline ") Открытые
									button(type="button" class="btn btn-default btn-outline ") Закрытые
							
								.form-group
									.input-group
										input(type="text" placeholder="Поиск").input-sm.form-control
										.input-group-btn
											button(type="submit").btn.btn-default.btn-outline.btn-sm <span class="glyphicon glyphicon-search"></span>
									
								.pull-right
									button.btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
									button.btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Экспорт
						
						table.table.table-striped
							tr
								th Статус
								th Сообщений
								th На номер
								th Последнее сообщение
								// th Сообщений
								th Клиент
								th Агент
								
								th 
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
							
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
							
							
						.panel-footer
							.pull-left
								p.table-footer-info Показано 6 из 6 записей.
							.pull-right
									ul.pagination
										li.disabled: a(href="#"): i.fa.fa-angle-left
										li.active: a(href="#") 1
										li: a(href="#") 2
										li: a(href="#") 3
										li: a(href="#"): i.fa.fa-angle-right
							.pull-right
								.form-group.form-inline
									label Показывать по
									select.form-control
										option 10
										option 20
										option 50
										option 100

							.clearfix