doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					//form.navbar-form.navbar-left(role="search")
						.form-group
							input(type="text" placeholder="Find in contacts...").form-control
						button(type="submit").btn.btn-default Go
					
					.navbar-left
						h4.navbar-text Настройки
						ul.nav.navbar-nav
							li.active: a(href="#") Основные
							li: a(href="#") Автоответчик
							li: a(href="#") Компания
							li: a(href="#") Контакты
							li: a(href="#") Звуки
					
					.navbar-left
						// .btn.navbar-btn.btn-sm <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
						// .btn.navbar-btn.btn-sm <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import
					
					.navbar-right
						ul.nav.navbar-nav
							li.dropdown
								a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Mark Otto <span class="caret"></span>
								ul.dropdown-menu
									li: a(href="#") Профиль
									li: a(href="#") Настройки
									li.divider
									li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content
					.app-scroller.mCustomScrollbar(data-mcs-theme="minimal-dark")
						.panel
							.panel-heading
								.panel-title Основные
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Активные чаты
										.col-sm-4
											select.form-control
												option 10
												option 20
												option 50
												option 100
												option 500
											small.notice Количество активных чатов на одного оператора
									
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix
			
						.panel
							.panel-heading
								.pull-left.panel-title Контакты
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Дополнительные поля
										.col-sm-4
											.input-group
												input(type="text" value="Адрес").form-control
												.input-group-btn
													.btn.btn-danger.btn-outline Удалить
									
									.form-group
										label.col-sm-2.control-label 
										.col-sm-4
											.input-group
												input(type="text" value="Тарифный план").form-control
												.input-group-btn
													.btn.btn-danger.btn-outline Удалить
									
									.form-group
										label.col-sm-2.control-label 
										.col-sm-4
											.input-group
												input(type="text" value="Тип абонента").form-control
												.input-group-btn
													.btn.btn-danger.btn-outline Удалить
													
									.form-group
										label.col-sm-2.control-label 
										.col-sm-4
											.input-group
												input(type="text" placeholder="Введите название...").form-control
												.input-group-btn
													.btn.btn-outline.btn-primary Добавить
									
											
												
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix
						
						.panel
							.panel-heading
								.panel-title Автоответчик
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Включить автоответчик
										.col-sm-2
											input(type="checkbox" data-size="small" data-plugin="switchery" checked)
									.form-group
										label.col-sm-2.control-label Сообщение автоответчика
										.col-sm-4
											textarea.form-control
											small.notice Сообщение автоответчика, когда нет операторов в сети.
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix
							
						.panel
							.panel-heading
								.panel-title Компания
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Название компании
										.col-sm-4
											input(type="text" value="ONLChat").form-control
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix
								
						.panel
							.panel-heading
								.panel-title Звуки
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Сообщение отправлено
										.col-sm-4
											select.form-control
												option Маримба
												option Тик-так
												option Run
												option Skylake
												option Whisper
										.col-sm-2
											input(type="checkbox" data-size="small" data-plugin="switchery" checked)
									.form-group
										label.col-sm-2.control-label Статус
										.col-sm-4
											select.form-control
												option Маримба
												option Тик-так
												option Run
												option Skylake
												option Whisper
										.col-sm-2
											input(type="checkbox" data-size="small" data-plugin="switchery" checked)
									.form-group
										label.col-sm-2.control-label Новое сообщение
										.col-sm-4
											select.form-control
												option Маримба
												option Тик-так
												option Run
												option Skylake
												option Whisper
										.col-sm-2
											input(type="checkbox" data-size="small" data-plugin="switchery" checked)
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix