doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					//form.navbar-form.navbar-left(role="search")
						.form-group
							input(type="text" placeholder="Find in contacts...").form-control
						button(type="submit").btn.btn-default Go
					
					.navbar-left
						h4.navbar-text Пользователи
					
					.navbar-left
						.btn.navbar-btn.btn-outline.btn-success(data-toggle="modal" data-target="#modal-add") <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
					
					.navbar-right
						ul.nav.navbar-nav
							li.dropdown
								a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Mark Otto <span class="caret"></span>
								ul.dropdown-menu
									li: a(href="#") Профиль
									li: a(href="#") Настройки
									li.divider
									li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content.mCustomScrollbar(data-mcs-theme="minimal-dark")
					.panel.panel-default
						.panel-heading
							.form-inline
								.btn-group.btn-group-sm
									button.active.btn-outline(type="button" class="btn btn-default") Все
									button.btn-outline(type="button" class="btn btn-default") Операторы
									button.btn-outline(type="button" class="btn btn-default") Администраторы
							
								.form-group
									.input-group
										input(type="text" placeholder="Поиск...").input-sm.form-control
										.input-group-btn
											button(type="submit").btn.btn-default.btn-sm.btn-outline <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									
								.pull-right
									button.btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
									button.btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Экспорт
						
						table.table.table-striped
							tr
								th(style="width: 70px;") Статус
								th(style="width: 30px;") 
								th Логин
								th Имя
								th E-mail
								th Группа
								th Был в сети
								th
							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-success">Online</span>
								td onl_admin
								td Василий Петухов
								td vasili@onl.com
								td Администраторы
								td Онлайн
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-danger">Offline</span>
								td operator1
								td Имя Фамилия
								td operator@onlchat.com
								td Операторы
								td 16:88, 23 декабря 2015
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-danger">Offline</span>
								td operator2
								td Имя Фамилия
								td operator2@onlchat.com
								td Операторы
								td 16:88, 23 декабря 2015
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-danger">Offline</span>
								td operator3
								td Имя Фамилия
								td operator1@onlchat.com
								td Операторы
								td 16:88, 23 декабря 2015
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							
							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-danger">Offline</span>
								td operator4
								td Имя Фамилия
								td operator1@onlchat.com
								td Операторы
								td 16:88, 23 декабря 2015
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							
						.panel-footer
							.pull-left
								p.table-footer-info Показано 6 из 6 записей.
							.pull-right
									ul.pagination
										li.disabled: a(href="#"): i.fa.fa-angle-left
										li.active: a(href="#") 1
										li: a(href="#") 2
										li: a(href="#") 3
										li: a(href="#"): i.fa.fa-angle-right
							.pull-right
								.form-group.form-inline
									label Показывать по
									select.form-control
										option 10
										option 20
										option 50
										option 100

							.clearfix

		// Add Modal
		.modal.fade#modal-add
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title.pull-left Добавить пользователя
						button(type="button" data-dismiss="modal").close: span &times;
						.clearfix
						.row.modal-header-form
							.col-sm-4
								button.upload-avatar Загрузить фото...
							.col-sm-7
								.form-group
									label.control-label Логин
									input(type="text" placeholder="Введите логин").form-control
								.form-group
									label.control-label Пароль
									.row
										.col-sm-6
											input(type="password" placeholder="Пароль").form-control
										.col-sm-6
											input(type="password" placeholder="Повторите пароль").form-control

					.modal-body
						.form-horizontal
							.form-group
								label.col-sm-4.control-label Имя
								.col-sm-7
									input(type="text" placeholder="Введите имя").form-control
							.form-group
								label.col-sm-4.control-label E-mail
								.col-sm-7
									input(type="email" placeholder="Введите почту").form-control
							.form-group
								label.col-sm-4.control-label Роль
								.col-sm-7
									select.form-control
										option Администратор
										option Оператор
							.form-group
								label.col-sm-4.control-label Статус
								.col-sm-7
									select.form-control
										option Активный
										option Неактивный						
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Закрыть
						button.btn.btn-primary(type="button" data-dismiss="modal") Добавить пользователя
						
		// Add Modal
		.modal.fade#modal-edit
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title.pull-left Редактировать пользователя
						button(type="button" data-dismiss="modal").close: span &times;
						.clearfix
						.row.modal-header-form
							.col-sm-4
								button.upload-avatar Сменить фото...
							.col-sm-7
								.form-group
									label.control-label Логин
									input(type="text" placeholder="Введите логин" value="onl_chat").form-control
								.form-group
									label.control-label Пароль
									.row
										.col-sm-6
											input(type="password" placeholder="Пароль").form-control
										.col-sm-6
											input(type="password" placeholder="Повторите пароль").form-control
									small.notice Чтобы сменить пароль пользователя, введите новый.

					.modal-body
						.form-horizontal
							.form-group
								label.col-sm-4.control-label Имя
								.col-sm-7
									input(type="text" placeholder="Введите имя" value="Имя Фамилия").form-control
							.form-group
								label.col-sm-4.control-label E-mail
								.col-sm-7
									input(type="email" placeholder="Введите почту" value="operator@gmail.com").form-control
							.form-group
								label.col-sm-4.control-label Роль
								.col-sm-7
									select.form-control
										option Администратор
										option Оператор
							.form-group
								label.col-sm-4.control-label Статус
								.col-sm-7
									select.form-control
										option Активный
										option Неактивный						
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Закрыть
						button.btn.btn-primary(type="button" data-dismiss="modal") Сохранить